* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h1 {
  text-align: center;
}

#gameType {
  text-align: center;
  margin: 30px 15px;
}

#rps-choices {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 30px 15px;
}

.rpsChoicesButtons {
  margin: 30px 15px;
}

#playAgain {
  display: flex;
  justify-content: center;
  margin: 30px 15px;
}